/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Ensure the HTML and body elements take up the full viewport height */
html, body {
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.15fr auto 0.3fr; /*repeat(3, 1fr);*/
    gap: 5px;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
}

.grid-item:nth-child(1) {
    grid-column: span 2;
}

.grid-item:nth-child(5) {
    grid-row: span 2;
}

.grid-item {
    background-color: #e0e0e0;
    text-align: center;
    display: flex;
    flex-direction: column; /* This makes the content of the grid item stack vertically */
    align-items: center;    /* Horizontally center-align the buttons */
    justify-content: center;/* Vertically center-align the buttons */
    gap: 10px;              /* Spacing between each button */
}

.grid-button {
    padding: 10px 20px;     /* Adjust as needed for your design */
    margin: 5px 0;          /* Spacing between the buttons */
    border: none;           /* Removes default button border */
    cursor: pointer;        /* Hand cursor on hover for better UX */
    background-color: #333;/* Button color, adjust as needed */
    color: #fff;            /* Button text color, adjust as needed */
    border-radius: 5px;     /* Rounded corners for the buttons */
}

.grid-button:hover {
    background-color: #555; /* Slightly lighter shade on hover for feedback */
}

#map {
    width: 100%;
    height: 100%;
}

#myChart {
    width: 100%;
    height: 100%;
}

.constraint {
    background-color: red;
    padding: 1px 3px;
}

.scenario-container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

.scenario {
    display: inline-block; /* Display buttons inline horizontally */
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    /* margin-right: 50%; */
}

.scenario:hover {
    background-color: turquoise;
}

.constraint-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.default-hidden {
    display: none;
}