<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planning - Jaltol</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="icon" href="static/images/logo.jpg" type="image/jpg">
</head>
<body>

<div class="grid-container">
    <div class="grid-item row1"><h1>Raichur</h1></div>
    <!-- <div class="grid-item row1"><p>Raichur Agriculture Area: <span id="ag_area">Fetching...</span></p></div> -->
    <div class="grid-item row1 scenario-container">
        <button class="scenario" id="baseline-btn">Baseline</button>
        <button class="scenario" id="scenario1-btn">Scenario-1</button>
    </div>
    <div class="grid-item">
        <button class="grid-button" id="land-btn">Land</button>
        <button class="grid-button" id="livestock-btn">Livestock</button>
        <button class="grid-button" id="water-btn">Water</button>
        <button class="grid-button" id="soil-btn">Soil</button>
    </div>
    <div class="grid-item">
        <div id="content-display">
            <div class="default-main" id="default-main">
                <p>Select either Baseline or Scenario1</p>
            </div>
            <div class="default-hidden" id="land-content">
                <table class="content-table" id="totalAreaTable">
                    <thead>
                        <tr>
                            <th>Total Area</th>
                            <th><span id="geom_area">fetching...</span></th>
                        </tr>
                    </thead>
                    <tbody><tr><td></td><td></td></tr></tbody>
                </table>
                <!-- Total Area<span id="geom_area">fetching...</span> -->
                <table class="content-table" id="kharifAreaTable">
                    <thead>
                        <tr>
                            <th>Kharif Area</th>
                            <th><span id="k_area">fetching...</span></th>
                        </tr>
                    </thead>
                    <tbody id="kharifAreaTableBody">
                    </tbody>
                </table>
                <!-- <strong>Kharif<span id="k_area">fetching...</span></strong> -->
                <!-- <p>Paddy</p> -->
                <table class="content-table" id="rabiAreaTable">
                    <thead>
                        <tr>
                            <th>Rabi Area</th>
                            <th><span id="r_area">fetching...</span></th>
                        </tr>
                    </thead>
                    <tbody id="rabiAreaTableBody">
                    </tbody>
                </table>
                <!-- <h3>Rabi</h3><span id="r_area">fetching...</span> -->
                <!-- <p>Millet</p> -->
            </div>
            <div class="default-hidden" id="livestock-content"><p>livestock</p></div>
            <div class="default-hidden" id="water-content">
                <table class="content-table" id="kharifWaterTable">
                    <thead>
                        <tr>
                            <th>Kharif CWR(mm) </th>
                            <th><span id="k_cwr_mm">fetching...</span></th>
                        </tr>
                    </thead>
                    <tbody id="kharifWaterTableBody">
                    </tbody>
                </table>
                <table class="content-table" id="rabiWaterTable">
                    <thead>
                        <tr>
                            <th>Rabi CWR(mm) </th>
                            <th><span id="r_cwr_mm">fetching...</span></th>
                        </tr>
                    </thead>
                    <tbody id="rabiWaterTableBody">
                    </tbody>
                </table>
            </div>
            <div class="default-hidden" id="soil-content"><p>soil</p></div>
        </div>
    </div>
    <div class="grid-item" id="map"></div>
    <div class="grid-item">
        <p>Total Income: <span>Calculating...</span></p>
        <p>Livestock Income: <span>Calculating...</span></p>
        <p>Crop Income: <span>Calculating...</span></p>
    </div>
    <div class="grid-item constraint-container">
        <!-- <canvas id="myChart"></canvas> -->
        <div class="constraint" id="land-constraint"><p>Land</p></div>
        <div class="constraint" id="livestock-constraint"><p>Livestock</p></div>
        <div class="constraint" id="water-constraint"><p>Water</p></div>
        <div class="constraint" id="soil-constraint"><p>Soil</p></div>
    </div>
</div>
<script src="static/js/main.js"></script>

</body>
</html>
